@import "vars.less";

.html {
  font-size: 16px;
}
.header {
  background: #f5f5f5;
  padding-top: 80px;
  &-dropdown {
    float: right;
  }
  &-logo {
    border: 3px solid #706b73;
    font-size: 2.3rem;
    font-family: @ff-semibold;
    padding: 0px 18px;
    & span {
      color: @accent-color;
      font-family: @ff-semibold;
    }

  }
  &__title {
    margin-bottom: 40px;
  }

  
  &-dropdown {
    float: right;
    margin-top: -20px;
    margin-right: 20px;
    &-btn {
      background: inherit;

      & .fa {

        font-size: 2.2rem;

      }


    }
  }
  &-form {
    margin-top: 110px;
    box-shadow: @box-shadow;
    padding: 0 40px;
    background: #fff;
    &__title {
      text-align: center;
      margin: 30px 0 15px;
      font-size: 1.25rem;
      color: @title-color;
      font-family: @ff-regular;
      & span {
        color: @accent-color;
        font-family: inherit;
      }


    }
    &__item {
      border: none;
      border-bottom: 1px solid #c7c7c7;
      width: 100%;
      resize: none;
      margin-top: 30px;
    }
    & textarea {
      height: 100px;
    }
    &__submit {
      display: block;
      margin: 20px auto;
    }
  }
}
.working-process {
  &__title {
    margin-bottom: 20px;
  }
  &-list {
    margin: 120px 0 150px;
    &>div:nth-child(1) .working-process-list-item {
      background: #4eb2f7;
    }
    &>div:nth-child(2) .working-process-list-item {
      background: #c049f8;
    }
    &>div:nth-child(3) .working-process-list-item {
      background: #817eff;
    }
    &>div:nth-child(4) .working-process-list-item {
      background: #f74770;
    }
    &-item {
      color: #fff;
      text-align: center;
      position: relative;
      padding: 55px 0 27.5px;
      margin-bottom: 40px;
      cursor: pointer;

      &:hover {
        box-shadow: @box-shadow;
        & .working-process-list-item__img .fa {
          transform: rotate(-45deg);
        }
      }
      &__img {
        font-size: 50px;
        margin-bottom: 27px;
      }
      &__title {
        font-size: 20px;
        margin-bottom: 28px;
        font-family: @ff-semibold;
      }
      &__description {
        margin-bottom: 40px;
      }
      &__button.ui__btn{
        position: absolute;
        left: 50%;
        bottom: -27.5px;
        height: 55px;
        margin-left: -115px;
        box-shadow: @box-shadow;
        color: #000;
        & .fa {
          font-size: 1.1rem ;
          font-weight: 100;
          position: absolute;
          left: 30px;
          top: 20px;
          right: inherit;
        }

      }
    }

  }
}
.works {
  background: #fbfbfb;
  &-list {
    margin: 115px 0 150px;
    &__item_container {
      margin-bottom: 20px;
    }
    &__item {
      background: @accent-color;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
     
    }
  }
}

.tabs {
  margin: 140px 0;
  &-control {
    &__item {
       width: 105px;
       height: 95px;
       cursor: pointer;
       background: #fbfbfb;
       background-position: center;
       -webkit-background-size: auto;
       background-size: auto;
       background-repeat: no-repeat;
       margin-bottom: 10px;
      &.primary {
        box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 10px 8px rgba(0,0,0,0.22);
      }

     }

  }

  &-list {
    &__item {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
.service-tabs__title {
  font-family: @ff-regular;
  font-size: 30px;
  position: relative;
  margin-bottom: 40px;
  &::after {
    content: '';
    position: absolute;
    width: 57px;
    height: 3px;
    background: @accent-color;
    bottom: -17px;
    left: 0;

  }
}
.service-tabs__content {
  margin-bottom: 30px;
  line-height: 25px;

}
.team {
  background: #fbfbfb;
  &-list {
    margin: 130px 0 135px;
    &-item {
      background: @accent-color;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      margin-bottom: 40px;

      &-info  {
        position: absolute;
        width: 264px;
        height: 96px;
        left: 50%;
        bottom: -24px;
        background: #fff;
        margin-left: -132px;
        box-shadow: @box-shadow;
        color: #000;
        text-align: center;
        &__name {
          font-family: @ff-semibold;
          font-size: 25px;
          margin: 20px 0;

        }
        &__position {
          font-family: @ff-light;

        }

      }
      &-hover {
        position: absolute;
        width: 100%;
        height: 0;
        font-size: 0rem;
        background: fade(#fff3f0, 80%);
        transition: height, 0.5s;
        text-align: center;
        display: flex;
        &-skills {
          margin: auto;
        }
        &-info {
          position: absolute;
          bottom: 0;
          text-align: center;
          width: 100%;
        }


      }
      &:hover .team-list-item-hover {
        height: 100%;
        font-size: 11px;
        &-skills {
          margin: auto;

          &-item {
            &__name {
              margin-bottom: 10px;
            }
            &-bar {
              width: 150px;
              height: 4px;
              background: #000;
              margin-bottom: 20px;
              &__full {
                height: 100%;
                background: @accent-color;
              }
            }

          }
        }
        &-info {

          &__name {
            font-family: @ff-semibold;
            font-size: 30px;
            margin-bottom: 15px;
          }
          &__position {
            margin-bottom: 20px;
            font-family: @ff-light;
            color: @accent-color;
            font-size: 17px;
          }
          &-social {
            font-size: 1rem;
            margin-bottom: 15px;
            & .fa-facebook {
              margin: 0 20px;
            }
          }
        }
      }
      &:hover .team-list-item-info {
        display: none;
      }

    }
  }
}
.reviews{
  &-list {
    margin: 140px 0 200px;
    position: relative;
    & .owl-wrapper-outer {
      padding-top: 50px;
    }

    & .customPagination {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      & .owl-pagination {
        position: absolute;
        bottom: -60px;
        text-align: center;
        width: 100%;
      }
      & .owl-buttons {
        position: absolute;
        width: 100%;
        top: 50%;
        margin-top: -25px;
      }
      & .owl-prev, & .owl-next {
        position: absolute;
        height: 50px;
        width: 50px;
        color: #000;
        box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 10px 8px rgba(0,0,0,0.22);



      }
      & .owl-next {
        background: #fff;
        right: -20px;
        & .fa {
          font-size: 20px;
          position: absolute;
          top: 50%;
          margin-top: -10px;
          right: 50%;
          margin-right: -10px;
        }
      }
      & .owl-prev {
        left: -20px;
        background: #fff;
        & .fa {
          font-size: 20px;
          position: absolute;
          top: 50%;
          margin-top: -10px;
          left: 50%;
          margin-left: -10px;
        }

      }

    }
    &-item {
      margin: 0 15px;
      border: 1px solid #cfcfcf;
      text-align: center;
      position: relative;
      &__photo {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: 50%;
        margin-left: -50px;
        top: -50px;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid #dddddd;
        
      }
      &__text {
        width: 80%;
        margin: 100px auto 20px;

      }
      &__stars {
        color: #ffef3b;
        margin-bottom: 20px;
      }
      &__from {
        margin-bottom: 40px;
        & span {
          font-family: @ff-semibold;
        }
      }
      &:hover {
        box-shadow: @box-shadow;
      }
    }
  }
}
.partners {
  background: #fbfbfb;
  &-list {
    margin: 75px 0;
    &-item {
      display: block;
      margin-bottom: 20px;
      max-width: 135px;
      height: 30px;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      &:hover {
        filter: invert(75%)
      }

    }
  }
}
.footer {
  padding: 45px 0 50px;
  background: #f7f7f7;
  text-align: center;
  &__button {
    margin: 0 auto 50px;
  }
  &-social {
    &__item {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      background: #d3d3d3;
      font-size: 22px;
      color: #fff;
      margin-right: 15px;
      &:hover {
        background: @accent-color;
        box-shadow: @box-shadow;
        color: #fff;
      }
    }
  }

}

