@font-face {
  font-family: "OpenSans-Semibold";
  src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: "OpenSans-Light";
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "fontawesome-webfont";
  src: url(../fonts/fontawesome-webfont.ttf);
}
.html {
  font-size: 16px;
}
.header {
  background: #f5f5f5;
  padding-top: 80px;
}
.header-dropdown {
  float: right;
}
.header-logo {
  border: 3px solid #706b73;
  font-size: 2.3rem;
  font-family: "OpenSans-Semibold", sans-serif;
  padding: 0px 18px;
}
.header-logo span {
  color: #fc6744;
  font-family: "OpenSans-Semibold", sans-serif;
}
.header__title {
  margin-bottom: 40px;
}
.header-dropdown {
  float: right;
  margin-top: -20px;
  margin-right: 20px;
}
.header-dropdown-btn {
  background: inherit;
}
.header-dropdown-btn .fa {
  font-size: 2.2rem;
}
.header-form {
  margin-top: 110px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 0 40px;
  background: #fff;
}
.header-form__title {
  text-align: center;
  margin: 30px 0 15px;
  font-size: 1.25rem;
  color: #626262;
  font-family: "OpenSans-Regular", sans-serif;
}
.header-form__title span {
  color: #fc6744;
  font-family: inherit;
}
.header-form__item {
  border: none;
  border-bottom: 1px solid #c7c7c7;
  width: 100%;
  resize: none;
  margin-top: 30px;
}
.header-form textarea {
  height: 100px;
}
.header-form__submit {
  display: block;
  margin: 20px auto;
}
.working-process__title {
  margin-bottom: 20px;
}
.working-process-list {
  margin: 120px 0 150px;
}
.working-process-list > div:nth-child(1) .working-process-list-item {
  background: #4eb2f7;
}
.working-process-list > div:nth-child(2) .working-process-list-item {
  background: #c049f8;
}
.working-process-list > div:nth-child(3) .working-process-list-item {
  background: #817eff;
}
.working-process-list > div:nth-child(4) .working-process-list-item {
  background: #f74770;
}
.working-process-list-item {
  color: #fff;
  text-align: center;
  position: relative;
  padding: 55px 0 27.5px;
  margin-bottom: 40px;
  cursor: pointer;
}
.working-process-list-item:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.working-process-list-item:hover .working-process-list-item__img .fa {
  transform: rotate(-45deg);
}
.working-process-list-item__img {
  font-size: 50px;
  margin-bottom: 27px;
}
.working-process-list-item__title {
  font-size: 20px;
  margin-bottom: 28px;
  font-family: "OpenSans-Semibold", sans-serif;
}
.working-process-list-item__description {
  margin-bottom: 40px;
}
.working-process-list-item__button.ui__btn {
  position: absolute;
  left: 50%;
  bottom: -27.5px;
  height: 55px;
  margin-left: -115px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  color: #000;
}
.working-process-list-item__button.ui__btn .fa {
  font-size: 1.1rem ;
  font-weight: 100;
  position: absolute;
  left: 30px;
  top: 20px;
  right: inherit;
}
.works {
  background: #fbfbfb;
}
.works-list {
  margin: 115px 0 150px;
}
.works-list__item_container {
  margin-bottom: 20px;
}
.works-list__item {
  background: #fc6744;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.tabs {
  margin: 140px 0;
}
.tabs-control__item {
  width: 105px;
  height: 95px;
  cursor: pointer;
  background: #fbfbfb;
  background-position: center;
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.tabs-control__item.primary {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 10px 8px rgba(0, 0, 0, 0.22);
}
.tabs-list__item {
  display: none;
}
.tabs-list__item.active {
  display: block;
}
.service-tabs__title {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 30px;
  position: relative;
  margin-bottom: 40px;
}
.service-tabs__title::after {
  content: '';
  position: absolute;
  width: 57px;
  height: 3px;
  background: #fc6744;
  bottom: -17px;
  left: 0;
}
.service-tabs__content {
  margin-bottom: 30px;
  line-height: 25px;
}
.team {
  background: #fbfbfb;
}
.team-list {
  margin: 130px 0 135px;
}
.team-list-item {
  background: #fc6744;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 40px;
}
.team-list-item-info {
  position: absolute;
  width: 264px;
  height: 96px;
  left: 50%;
  bottom: -24px;
  background: #fff;
  margin-left: -132px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  color: #000;
  text-align: center;
}
.team-list-item-info__name {
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 25px;
  margin: 20px 0;
}
.team-list-item-info__position {
  font-family: "OpenSans-Light", sans-serif;
}
.team-list-item-hover {
  position: absolute;
  width: 100%;
  height: 0;
  font-size: 0rem;
  background: rgba(255, 243, 240, 0.8);
  transition: height, 0.5s;
  text-align: center;
  display: flex;
}
.team-list-item-hover-skills {
  margin: auto;
}
.team-list-item-hover-info {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.team-list-item:hover .team-list-item-hover {
  height: 100%;
  font-size: 11px;
}
.team-list-item:hover .team-list-item-hover-skills {
  margin: auto;
}
.team-list-item:hover .team-list-item-hover-skills-item__name {
  margin-bottom: 10px;
}
.team-list-item:hover .team-list-item-hover-skills-item-bar {
  width: 150px;
  height: 4px;
  background: #000;
  margin-bottom: 20px;
}
.team-list-item:hover .team-list-item-hover-skills-item-bar__full {
  height: 100%;
  background: #fc6744;
}
.team-list-item:hover .team-list-item-hover-info__name {
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}
.team-list-item:hover .team-list-item-hover-info__position {
  margin-bottom: 20px;
  font-family: "OpenSans-Light", sans-serif;
  color: #fc6744;
  font-size: 17px;
}
.team-list-item:hover .team-list-item-hover-info-social {
  font-size: 1rem;
  margin-bottom: 15px;
}
.team-list-item:hover .team-list-item-hover-info-social .fa-facebook {
  margin: 0 20px;
}
.team-list-item:hover .team-list-item-info {
  display: none;
}
.reviews-list {
  margin: 140px 0 200px;
  position: relative;
}
.reviews-list .owl-wrapper-outer {
  padding-top: 50px;
}
.reviews-list .customPagination {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.reviews-list .customPagination .owl-pagination {
  position: absolute;
  bottom: -60px;
  text-align: center;
  width: 100%;
}
.reviews-list .customPagination .owl-buttons {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -25px;
}
.reviews-list .customPagination .owl-prev,
.reviews-list .customPagination .owl-next {
  position: absolute;
  height: 50px;
  width: 50px;
  color: #000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 10px 8px rgba(0, 0, 0, 0.22);
}
.reviews-list .customPagination .owl-next {
  background: #fff;
  right: -20px;
}
.reviews-list .customPagination .owl-next .fa {
  font-size: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 50%;
  margin-right: -10px;
}
.reviews-list .customPagination .owl-prev {
  left: -20px;
  background: #fff;
}
.reviews-list .customPagination .owl-prev .fa {
  font-size: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -10px;
}
.reviews-list-item {
  margin: 0 15px;
  border: 1px solid #cfcfcf;
  text-align: center;
  position: relative;
}
.reviews-list-item__photo {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 50%;
  margin-left: -50px;
  top: -50px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #dddddd;
}
.reviews-list-item__text {
  width: 80%;
  margin: 100px auto 20px;
}
.reviews-list-item__stars {
  color: #ffef3b;
  margin-bottom: 20px;
}
.reviews-list-item__from {
  margin-bottom: 40px;
}
.reviews-list-item__from span {
  font-family: "OpenSans-Semibold", sans-serif;
}
.reviews-list-item:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.partners {
  background: #fbfbfb;
}
.partners-list {
  margin: 75px 0;
}
.partners-list-item {
  display: block;
  margin-bottom: 20px;
  max-width: 135px;
  height: 30px;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.partners-list-item:hover {
  filter: invert(75%);
}
.footer {
  padding: 45px 0 50px;
  background: #f7f7f7;
  text-align: center;
}
.footer__button {
  margin: 0 auto 50px;
}
.footer-social__item {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #d3d3d3;
  font-size: 22px;
  color: #fff;
  margin-right: 15px;
}
.footer-social__item:hover {
  background: #fc6744;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  color: #fff;
}
