@font-face {
  font-family: "OpenSans-Semibold";
  src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: "OpenSans-Light";
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "fontawesome-webfont";
  src: url(../fonts/fontawesome-webfont.ttf);
}
.ui__title {
  margin-top: 150px;
  text-align: center;
  color: #626262;
  font-size: 50px;
  font-family: "OpenSans-Semibold", sans-serif;
}
.ui__title span {
  color: #fc6744;
  font-family: "OpenSans-Semibold", sans-serif;
}
.ui__subtitle {
  text-align: center;
  color: #626262;
  line-height: 25px;
}
.ui__btn {
  height: 55px;
  width: 230px;
  border: none;
  background: #fff;
  border-radius: 25px;
  color: #000;
  text-align: center;
  position: relative;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.ui__btn .fa {
  font-size: 1.1rem ;
  font-weight: 100;
  position: absolute;
  left: 30px;
  top: 20px;
  right: inherit;
}
.ui__btn.accent {
  background: #fc6744;
  color: #fff;
  box-shadow: none;
}
.ui__btn.accent .fa {
  font-size: 1.1rem ;
  position: absolute;
  right: 30px;
  top: 19px;
  left: inherit;
}
.ui__btn:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
