@import "vars";
.ui {

  &__title {
    margin-top: 150px;
    text-align: center;
    color: @title-color;
    font-size: 50px;
    font-family: @ff-semibold;
    & span {
      color: @accent-color;
      font-family: @ff-semibold;
    }
  }
  &__subtitle {
      text-align: center;
      color: @title-color;
      line-height: 25px;
  }
  &__btn {
    height: 55px;
    width: 230px;
    text-align: center;
    border: none;
    background: #fff;
    border-radius: 25px;
    color: #000;
    text-align: center;
    position: relative;
    box-shadow: @box-shadow;
    & .fa {
      font-size: 1.1rem ;
      font-weight: 100;
      position: absolute;
      left: 30px;
      top: 20px;
      right: inherit;
    }
    &.accent {
      background: @accent-color;
      color: #fff;
      box-shadow: none;
      & .fa {
        font-size: 1.1rem ;

        position: absolute;
        right: 30px;
        top: 19px;
        left: inherit;
      }
    }
    &:hover {
      box-shadow: @box-shadow;
    }




  }
}



