@font-face {
  font-family: "OpenSans-Semibold";
  src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: "OpenSans-Light";
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "fontawesome-webfont";
  src: url(../fonts/fontawesome-webfont.ttf);
}

@ff-regular: "OpenSans-Regular", sans-serif;
@ff-semibold: "OpenSans-Semibold", sans-serif;
@ff-italic: "OpenSans-Italic", sans-serif;

@ff-light: "OpenSans-Light", sans-serif;

@accent-color:   #fc6744;
@title-color: #626262;
@box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);